<style>
            p{
                color: rgb(31, 83, 83);
                background-color: rgb(65, 33, 33) ;
            }
            h1{
                color: rgb(223, 134, 223);
            }
        </style>
    
/* 用.(點)連接 */
.food{
    color: aqua;
    }
.background-grey{
    background-color: rgb(61, 196, 155);
    }
#css-1{
    color: aqua;
}
#ccss-2{
    color: blueviolet;
}

/*同時套用class 和 id 用、逗號隔開
  同時套用所以有標籤   用*米字隔開
  同時套用列表        用空格隔開
  同時套用herf、type  用【】中括號隔開
  滑鼠滑過有顏色      用a:hover 標籤名:horver
  更多可至w3c selectors 或是css選擇器找*/




/*用key定義轉變過程*/
 @keyframes change{  
    20%{background-color: rgb(79, 250, 250);}/*可以用趴數(代表總共時間的20%或是用from到to*/
    40%{background-color:black;}
}
/*定義原始內容*/
.box{
    width: 200px;
    height: 200px;
    background-color: grey;
}
/*引入變化模式(key)定義變化時間、重複次數、延遲時間*/
.box-animation{
    animation-name:change;
    animation-duration :2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}